@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .vertical-spacing {
    @apply py-[50px] lg:py-[100px];
  }
}

.galaxy-container {
  max-width: 1600px;
  margin: auto;
  width: 90%;
}