@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  position: absolute;
  left: 50%;
  top: 6%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.swp {
  height: 600px;
}

.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  text-align: center !important;
  line-height: 20px !important;
  font-size: 12px !important;
  color: #f2f2f2 !important;
  opacity: 1 !important;
  background: rgba(0, 0, 0, 0.2) !important;
}

.swiper-pagination-bullet-active {
  color: #fff !important;
  font-size: 20px !important;
  font-weight: 700 !important;
}
